.add-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  background: none;
  border: none;
}

.add-item-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.add-item-btn > img {
  width: 20px;
}
