.app-title {
  font-size: 3rem;
  font-weight: bold;
  padding: 0.5em;
}

.cv-app {
  background-color: var(--MAIN-COLOUR);
  width: 80%;
  max-width: 1100px;
  border-radius: 0.75em;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 2px 3px 5px 0px #6d6d6d;
}

.section-divider {
  border: 1px solid black;
}

input {
  font: inherit;
  border: none;
  border-radius: 0.25em;
  background-color: var(--BG-COLOUR);
  padding: 0.25em 0.5em;
  margin: 0.25em;
}

input:focus {
  border: 1px solid black;
}
