.edit-card {
  border: 3px solid black;
  border-radius: 3rem;
  padding: 1rem;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-header > h2 {
  font-size: 1.3rem;
}

.card-expand-btn,
.card-symbol {
  width: 40px;
  height: 40px;
}

.card-expand-btn {
  background: none;
  background-image: url(../assets/chevron.svg);
  border: none;
  margin-left: auto;
}

.card-expand-btn:hover {
  cursor: pointer;
}

.card-hidden {
  display: none;
}
