.personal-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAME */

.personal-name {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: bold;
}

/* CONTACT ITEMS */

.contact-item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.contact-item > img {
  width: 20px;
}

/* BTN CONTAINER */

.btn-container {
  display: none;
  padding: 1em;
}

.personal-info-container:hover > .btn-container {
  display: flex;
  flex-direction: column;
}

.edit-btn,
.save-btn {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

button > img {
  width: 25px;
}

button:hover > img {
  opacity: 0.6;
}
