.personal-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-icon {
  width: 18px;
}

.name {
  font-size: 1.5rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
